<link rel="stylesheet" href="/css/home.css" />
<div>
  <h1>Codeial / <%= title %></h1>
</div>

<section id="feed-posts">
  <h4>Posts</h4>
  <form action="" id="new-post-form" method="POST">
    <textarea name="content" cols="30" rows="30"></textarea>
    <input type="submit" value="Post" />
  </form>
</section>
